<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<% this.foundation() %>
		<script>
			var Blast = __Protoblast;
			Blast.__init(true);
		</script>
	</head>
	<body>
		<% assign('body') %>
	</body>
</html>